{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container-fluid text-center">
        <h1>Hi I'm Oli</h1>
        <img src="{{ url_for('static', filename='images/pfp.png') }}" class="img-thumbnail">
        <h6>I am a current Computer Science student at the <a href="https://www.sheffield.ac.uk">University of Sheffield</a></h6>
        <p>Welcome to my personal website - you can check out my projects, my socials, or even my blog (Work in Progress)</p>
    </div>

{% endblock %}